@page

@model IndexModel

@{
    ViewData["Title"] = "Home page";
}




<!-- banner-text -->
@*<div class="banner-w3lstext">
        <div class="items-group">
            <div class="item agileits-w3layouts">
                <div class="block text main-agileits">
                    <span class="circleLight"></span>
                    <h3>Need a legal advice </h3>
                    <p>Integer et feugiat elit. Nullam at turpis vel sapien aliquam feugiat vitae vitae mi. Donec scelerisque, justo vel blandit tempor, quam tellus blandit lectus, ut viverra leo velit et quam. </p>
                    <h6><span class="glyphicon glyphicon-earphone"></span> +1 555 222 1111 </h6>
                </div>
            </div>
        </div>
    </div>*@
<!-- //banner-text -->
<!-- //banner -->
<!-- banner-bottom -->
@*<div class="banner-w3bottom">
        <div class="container">
            <div class="wthree_banner_grids">
                <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                    <i class="fa fa-gavel" aria-hidden="true"></i>
                    <h4>customized solution</h4>
                </div>
                <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    <h4>Minimal Cost</h4>
                </div>
                <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h4>professional team</h4>
                </div>
                <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <h4>Quick Results</h4>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>*@
<!-- //banner-bottom -->
<!-- banner-text -->
<div class="banner-w3lstext">
    <div class="items-group">
        <div class="item agileits-w3layouts">
            <div class="block text main-agileits">
                <span class="circleLight"></span>
                <h3>Need a legal advice </h3>
                <p>Integer et feugiat elit. Nullam at turpis vel sapien aliquam feugiat vitae vitae mi. Donec scelerisque, justo vel blandit tempor, quam tellus blandit lectus, ut viverra leo velit et quam. </p>
                <h6><span class="glyphicon glyphicon-earphone"></span> +1 555 222 1111 </h6>
            </div>
        </div>
    </div>
</div>
<!-- //banner-text -->
<!-- //banner -->
<!-- banner-bottom -->
<div class="banner-w3bottom">
    <div class="container">
        <div class="wthree_banner_grids">
            <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                <i class="fa fa-gavel" aria-hidden="true"></i>
                <h4>customized solution</h4>
            </div>
            <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                <i class="fa fa-money" aria-hidden="true"></i>
                <h4>Minimal Cost</h4>
            </div>
            <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                <i class="fa fa-users" aria-hidden="true"></i>
                <h4>professional team</h4>
            </div>
            <div class="col-sm-3 col-xs-3 wthree_banner_grid">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <h4>Quick Results</h4>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<br/>
<br />
<br />



